@tailwind base;
@tailwind components;
@tailwind utilities;

.card-content-container.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow: hidden;
    padding: 40px 0;
}

.overlay {
    z-index: 40;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

@layer utilities {
    .mask-horizontal {
        @apply [mask-image:linear-gradient(to_right,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)]
             [mask-size:cover]
             [mask-repeat:no-repeat];
    }

    .mask-vertical {
        @apply [mask-image:linear-gradient(to_bottom,rgba(0,0,0,0)_0%,rgba(0,0,0,1)_20%,rgba(0,0,0,1)_80%,rgba(0,0,0,0)_100%)]
             [mask-size:cover]
             [mask-repeat:no-repeat];
    }

    .paused .animate-scrollX,
    .paused .animate-scrollY {
        animation-play-state: paused !important;
    }

    .reverse-x {
        animation-direction: reverse;
        animation-delay: -3s;
    }
}
